body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top ul {
    display: flex;
    flex-direction: row;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom ul {
    display: flex;
    flex-direction: row;
}